{{>nav}}
<main class="realMain">
    <article class="containerForms">
        <h2>Real Time Products</h2>
        <div class="formularios">
            {{>formProducts}}
            {{>formDelProducts}}
        </div>
    </article>
    <h2>Products</h2>
    {{>listProducts}}
</main>