<footer class="footer">
  <p>&copy; 2024 N.Rivers development. Todos los derechos reservados.</p>
  <p>Síguenos en:</p>
  <ul>
    <li><a href="https://facebook.com" >Facebook</a></li>
    <li><a href="https://instagram.com">Instagram</a></li>
    <li><a href="https://twitter.com">Twitter</a></li>
  </ul>
</footer>
