<header>
    <h1 class="title-container">Caffe Maledetto</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/carts">Carts</a></li>
        </ul>
    </nav>
</header>